# Rails, Ruby, etc
/log/*
/tmp/*
/spec/tmp/*
.ruby-version
.ruby-gemset
.env
.tmp*
.rspec
.sass-cache
*.sassc
*.rbc
*.sassc

# OS X
.DS_Store

# Uploaded Assets
/public/system/*
/public/files/*
/public/local
/public/uploads

# RubyMine
/.idea

# VIM
**.swp

# Git junk
**.orig

# Bundler
/.bundle
/vendor/bundle/
.bundle

# Misc
/coverage/
/backups
/index/*
rerun.txt
pickle-email-*.html

# Direnv
.envrc

# Sublime
*.sublime*
