/*
  Global Helpers
*/

.actions-bottom {
  @include span-columns(12);
  margin-top: 20px;
}

fieldset {
  border: 2px solid $light-gray;

  > br:first-child,
  > br:last-child {
    display: none;
  }

  legend {
    padding: 0 10px;

    &+br {
      display: none;
    }
  }

  blockquote {
    border: 0;
    padding: 0;
    margin: 0;
  }
}
