<div class="comments centered">
  <h2 class="center">
    Comments
  </h2>

  <div id="commentList">
    <%= render :partial => "comments/comment", :collection => @comments %>
  </div>
</div>

<%= render :partial => "comments/new" %>
