<div class="comment-form">
  <h1>Editing Comment</h1>

  <%= form_for(@comment) do |f| %>
    <%= render 'shared/errors', messages: @comment.errors.full_messages %>

    <div class="fields">
      <%= f.text_area :text, rows: 5 %>
    </div>
    <div class="controls">
      <%= f.submit 'Update' %>
    </div>
  <% end %>
</div>
  