/*
  Forums
*/

#forums {
  position: relative;

  .topic-controls {
    position: absolute;
    top: 40px;
    right: 0;
    width: auto;

    a:last-child {
      margin-right: 0;
    }
  }
}

/*
  Categories
*/

div#categories {

  /*
    Tables
  */

  table.category {
    table-layout: auto;
    margin-bottom: 20px;
  }

  .bullet {
    width: 10%;

    background: {
      image: url('layout/forum-category.png');  
      position: center center;
      repeat: no-repeat;
    }

    &.updated {
      background-image: image-url('layout/forum-category-highlight.png');
    }
  }

  .forum {
    width: 45%;
    padding-right: 10px;
  }

  .actions {
    width: 10%;
    text-align: center;
  }

  .topics,
  .posts {
    width: 10%;
  }
  
  .last {
    width: 15%;
  }
}

/*
  Topics
*/

#topics {
  table-layout: auto;
  margin-bottom: 40px;

  .topic {
    width: 55%;
  }

  .author {
    width: 10%;
  }

  .replies,
  .views {
    width: 10%;
  }

  .last {
    width: 15%;
  }
}

.statistics {
  margin: 20px 0;

  h4 {
    margin-bottom: 1em;
  }
}

#topic {
  position: relative;

  #reply {
    display: none;
  }
}

/*
  Posts
*/

#posts {
  @include span-columns(12);
  margin-top: 20px;

  .post {
    @include span-columns(12);
    padding: 20px;
    margin-bottom: 20px;
    background: transparentize($light-gray, 0.75);
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);

    &:last-child {
      margin-bottom: 40px;
    }

    .avatar {
      @include span-columns(3);

      h5 {
        text-align: center;
        margin-bottom: 1em;
      }

      .image,
      .team {
        @include span-columns(12);
        text-align: center;
        margin-bottom: 10px;
      }

      .admin {
        color: $red;
      }
    }

    .content {
      @include span-columns(9);
      @include omega;

      .text,
      .signature {
        @include span-columns(12);
        padding: 20px 0;
      }

      .text {
        margin-top: 20px;

        fieldset {
          border-color: darken($light-gray, 10);
          border-radius: $base-border-radius;
        }
      }
    }

    .header {
      @include span-columns(12);

      .time {
        @include span-columns(6);
      }

      .posts {
        @include span-columns(6);
        text-align: right;
      }
    }

    .actions {
      @include span-columns(12);

      .user {
        @include span-columns(3);
      }

      .reply {
        @include span-columns(9);
        @include omega;
      }
    }
  }
}

/*
  Forms
*/


#forums .add-acl {

  h4 {
    margin: 1em 0;
  }

  .permissions,
  .controls {
    display: inline;
    width: auto;
    float: none;
  }
}