/*
  Matches Listing
*/

table#matches {
  width: 100%;
  display: table;
  table-layout: auto;
  margin-bottom: em(20);

  .opponent {
    width: 30%;
  }

  .date,
  .maps {
    width: 20%;
  }

  .score {
    width: 10%;
    text-align: right;
  }
}