/*
  Articles
*/

div.article {
  @include span-columns(12);
  border-bottom: 1px solid rgba(35, 35, 35, 0.1);
  padding-bottom: em(20);

  h1 {
    margin: 1em 0;
  }

  .content {
    @include span-columns(12);
    margin-bottom: em(40);

    ul {
      @extend ul.disc;
    }
  }

  .author {
    @include span-columns(6);

    a {
      font-weight: bold;
    }
  }

  .comments {
    @include span-columns(6);
    @include omega;
    text-align: right;

    .fa {
      margin-right: em(10);
    }
  }

  .actions {
    @include span-columns(12);
    @include omega;
    margin-top: em(10);
  }

  &:first-child {
  
    h1 {
      margin-top: 0;
    }    
  }
}

div.article-links {
  @include span-columns(12);

  .previous {
    @include span-columns(6);

    .fa {
      padding-right: em(10);
    }
  }

  .next {
    @include span-columns(6);
    @include omega;
    text-align: right;

    .fa {
      padding-left: em(10);
    }
  }
}

/*
  Article Form
*/

form.article {

  h4 {
    margin-bottom: em(20);
  }
}

.files {

  .files-list {
    margin: em(20) 0 em(40);
  }

  form {
    @include span-columns(12);
    margin: em(20) 0;

    .fields {
      margin-bottom: em(20);
    }
  }
}

/*
  Articles Page
*/

#articles {
  @include span-columns(12);

  h3 {
    @include span-columns(12);
    margin-top: 1em;
  }

  .article-list {
    @include span-columns(12);
    margin-bottom: em(10);

    .new {
      @extend .highlight;
      margin-right: em(10);
    }

    .title {
      @include span-columns(6);
    }

    .meta {
      @include span-columns(6);
      @include omega;
      text-align: right;
    }
  }

  .button.new {
    margin-top: em(20);
  }
}