/*
  Users Listing
*/

#users {
  table-layout: auto;

  .country,
  .age {
    width: 5%;
  }

  .username,
  .name {
    width: 25%;
  }

  .steamid {
    width: 20%;
  }

  .actions {
    text-align: right;
  }
}

/*
  Profile
*/

#user {
  @include span-columns(12);

  .tabbed-contents {
    margin-bottom: em(20);
  }
}

#profile {
  
  .controls {
    @include shift(0);
  }

  .tab {

    h4 {
      margin-bottom: 1em;
    }

    .fields:last-child {
      margin-bottom: 0;
    }
  }
}
