<h1 class="title">Listing Issues</h1>

<div id="issues" class="tabbed">
  <ul id="issues-nav" class="tabs">
    <li><a href="#open">Open</a></li>
    <li><a href="#solved">Solved</a></li>
    <li><a href="#rejected">Rejected</a></li>
  </ul>

  <div class="tabbed-contents">
    <div class="tab" id="open">
      <%= render partial: "list", locals: { issues: @open } %>
    </div>

    <div class="tab" id="solved">
      <%= render partial: "list", locals: { issues: @solved } %>
    </div>

    <div class="tab" id="rejected">
      <%= render partial: "list", locals: { issues: @rejected } %>
    </div>
  </div>
</div>

<%= link_to 'New Issue', new_issue_path, class: 'button' %>

<script type="text/javascript">
  new Yetii({
    id: 'issues'
  });
</script>
