<h1><%= cuser ? "New Issue" : "Contact" %></h1>

<p>Please do not forget to include contact details, such as an email address or a Steam account in the case that you do not have an ENSL account.</p>

<%= render partial: "form" %>
