div
  &#gatherInfo table td
    vertical-align: top
  &.gatherLeftBox
    width: 170px
    height: 320px

  &.gatherMiddleBox, &.gatherRightBox
    width: 170px
    height: 320px
  &#gatherStatus

table
  &#gatherVotes
    border-collapse: collapse
  &.gatherVotes td
    overflow: hidden
    margin: 0px
    padding: 1px 0px 0px 1px
