/*
  Buttons
*/

@mixin button($background: $button-primary, $text: $button-text) {
  font-family: $monserrat;
  font-size: em(16);
  background-color: $background;
  color: $text;
  height: em(40);
  padding: em(9) em(18);
  float: left;
  margin: 0 em(20) em(20) 0;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
}

button,
a.button {
  @include button;

  &.tiny {
    background-color: transparentize($green, .5);
    border-radius: em(14);
    height: em(25);
    padding: em(1) em(12);
    margin: 0 em(10) 0 0;

    &:hover {
      color: $light-gray;
    }
  }
}
