/*
  Buttons
*/

@mixin button($background: $button-primary, $text: $button-text) {
  @include linear-gradient($blue, $dark-blue);
  border-radius: $base-border-radius;
  font-family: $montserrat;
  font-size: em(16);
  background-color: $background;
  color: $text;
  height: em(40);
  padding: 0 em(18);
  line-height: em(40);
  float: left;
  margin: 0 em(20) em(20) 0;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: lighten($light-blue, 30);
  }
}

button,
a.button,
.button {
  @include button;

  &.tiny {
    @include linear-gradient($light-blue, $blue);
    background-color: transparent;
    border-radius: em(14);
    line-height: em(25);
    height: em(25);
    padding: 0 em(12);
    margin: 0 em(10) 0 0;
  }
}
