/*
  Flash Messages
*/

@mixin flash($background: $flash-notice, $text: $flash-text) {
  background-color: $background;
  color: $text;
  font-size: em(16);
  line-height: em(16);
  padding: em(14) em(14) em(14) em(54); 
  position: relative;

  &:before {    
    @include box-sizing(border-box);
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    content: "\f05a";
    background-color: darken($background, 10%);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    width: em(44);
    height: em(44);
    padding: em(9);
    line-height: em(26);
    text-align: center;
  }
}
