<div id="news">
  <% @news.each do |item| %>
    <%= render partial: "article", locals: { article: item } %>
  <% end %>
</div>

<%= link_to t('news.archive'), '/news/archive', class: "button" %>

<% if cuser and cuser.admin? %>
  <%= link_to t('helpers.submit.post.new'), new_article_path, class: "button" %>
<% end %>
