<div class="movie-full">
    <h1 class="fancy">
        <span><%= namelink @movie %></span>
    </h1>

    <%= render partial: "movie", object: @movie %>

    <% if @movie.preview_url %>
    <div class="player">
        <video src="<%= @movie.preview.url %>" controls></video>

        <p>This is a preview version and video quality may not be full. For best experince please download the movie and use eg. <a href="https://www.videolan.org/vlc/">VLC</a></p>
    </div>
    <% else %>
    <p>There is no preview available. Please download the movie and use eg. <a href="https://www.videolan.org/vlc/">VLC</a></p>
    <% end %>
</div>

<%= add_comments @movie.file %>