<div class="box center">
  <embed type="application/x-vlc-plugin"
  name="video1"
  autoplay="yes" loop="yes" width="640" height="480"
  target=http://ensl.org:29100" />
  <br />
  If you cannot see the video, please install the
  <%= link_to "newest VLC", DataFile.find(855) %>,
  and enable browser plugin in the installer.
</div>

<%= render :partial => "shoutmsgs/index", :locals => {:object => @movie} %>
