<div class="shoutmsg">
  <div class="user">
    <span class="username">
      <%= namelink shoutmsg.user %>
    </span>
    <span class="time">
      <%= shoutmsg.created_at ? shoutmsg.created_at.strftime("%H:%M") : Time.now.strftime("%H:%M") %>
    </span>  
  </div>
  <div class="message">
    <div class="contents">
      <%= auto_link shoutmsg.text, html: { target: '_blank' } %>
      <% if shoutmsg.can_destroy? cuser %>
        <%= link_to icon('times'), shoutmsg, method: :delete, class: 'destroy' %>
      <% end %>
    </div>
  </div>
</div>
