<div class="shoutmsg">
  <div class="user">
    <span class="username">
      <%= namelink shoutmsg.user %>
    </span>
    <span class="time">
      <%= shoutmsg.created_at ? shoutmsg.created_at.strftime("%H:%M") : Time.now.strftime("%H:%M") %>
    </span>  
  </div>
    
  <%= shoutmsg.text %>
</div>
