<h1 class="title">Confirmed Matches for <%= @contest.name %></h1>
<table class="striped">
  <tr>
    <th>Match</th>
    <th>Scheduled for</th>
  </tr>
  <% @match_props && @match_props.each do |mp| %>
    <tr>
      <th><%= link_to mp.match.contester1, contester_path(mp.match.contester1) %> VS <%= link_to mp.match.contester2, contester_path(mp.match.contester2) %></th>
      <th><%= longertime(mp.proposed_time) %></th>
    </tr>
  <% end %>
</table>