<h1 class="title">Current Contests</h1>

<% @contests.each do |contest| %>
  <h3><%= link_to contest.name, contest %></h3>

  <% if contest.contest_type == Contest::TYPE_BRACKET %>
    <%= render partial: "bracket", locals: { contest: contest } %>
  <% else %>  
    <%= render partial: "contesters/list", locals: { contesters: contest.contesters.active.ordered, actions: true } %>
  <% end %>
<% end %>
