<h1>Current Contests</h1>

<% @contests.each do |contest| %>

  <% if contest.contest_type == Contest::TYPE_BRACKET %>
    <h2><%= link_to contest.name, contest %></h2>
    <%= render :partial => "bracket", :locals => {:contest => contest} %>
  <% else %>
    <h2><%= link_to contest.name, contest %></h2>
    <%= render :partial => "contesters/list", :locals => {:contesters => contest.contesters.active.ordered, :actions => true} %>
  <% end %>


<% end %>



<br />

