<div id="aboutTabs">
  <ul id="aboutTabs-nav" class="tabs">
    <li><a href="#about">About Us</a></li>
    <li><a href="#about">History</a></li>
    <li><a href="#stats">Statistics</a></li>
  </ul>

  <div class="box wide tabs">
    <div class="tab" id="about">
    </div>
  </div>
</div>

<script type="text/javascript">
  var tabber1 = new Yetii({id: 'aboutTabs'});
</script>
