<h2>
  Computer
</h2>

<div class="userFields">
  <%= cascade @user.profile, ["cpu", "gpu", "ram", "psu", "motherboard", "soundcard", "hdd", "case", "monitor", "mouse"] %>
  <%= cascade @user.profile, ["mouse_pad", "keyboard", "head_phones", "res", "sensitivity", "monitor_hz", "scripts"] %>
</div>
