<h4>Match History</h4>

<% @user.match_teams.each do |team| %>
  <h4><%= namelink team %></h4>
  <%= render partial: "matches/list", locals: { matches: Match.finished.ordered.of_userteam(@user, team), friendly: team, contest: true, exclude_maps: true } %>
<% end %>
