<h3>Predictions</h3>

<table class="predictions striped">
  <tr>
    <th>Contest</th>
    <th>Match</th>
    <th class="prediction">Predicted</th>
  </tr>
  <% @user.predictions.with_contest.each do |prediction| %>
    <tr>
      <td><%= namelink prediction.match.contest %></td>
      <td><%= namelink prediction.match, 30 %></td>
      <td class="prediction">
        <%= prediction.score1 %> - <%= prediction.score2 %>
      </td>
    </tr>
  <% end %>
</table>
