<h3>Team History</h3>

<table class="teams striped">
  <tr>
    <th class="date">Date Joined - Date Left</th>
    <th class="team">Team</th>
  </tr>

  <% @user.teamers.past.each do |teamer| %>
    <tr>
      <td>
        <%= longdate teamer.created_at %>
        -
        <%= longdate teamer.updated_at %>
      </td>
      <td class="team">
        <%= namelink teamer.team %>
      </td>
    </tr>
  <% end %>
</table>