<h1>Password Recovery</h1>

<p><strong>We are currently unable to send any emails!</strong></p>
<p>Please see the guide <a href="https://www.ensl.org/articles/1042">here</a> on instructions on requesting a password reset.</p>

<p>
  Special characters have been removed from nicks. <br> You may need to
  <%= link_to "search", users_url %> for your nickname in the database.
</p>