<div id="bans">
  <h1>Active Bans</h1>

  <%= link_to 'New Ban', new_ban_path, class: 'button' %>

  <%= render partial: "list", locals: { bans: @bans.effective } %>

  <h1>Ban History</h1>

  <%= render partial: "list", locals: { bans: @bans.ineffective } %>

  <%= link_to 'New Ban', new_ban_path, class: 'button' %>
</div>