<div id="bans">
  <h1>Active bans</h1>

  <%= link_to 'New ban', new_ban_path, class: 'button' %>

  <%= render partial: "list", locals: { bans: @bans.effective } %>

  <h1>Ban history</h1>

  <%= render partial: "list", locals: { bans: @bans.ineffective } %>

  <%= link_to 'New ban', new_ban_path, class: 'button' %>
</div>
  