<% if @current_action == "news_index" %>
  <div class="widget poll">
    <h4><%= t('widget.poll') %></h4>

    <% @poll = Poll.first %>
    <%= render(partial: "polls/show") if @poll %>
  </div>
<% end %>