<div class="header">Latest Posts</div>
<div class="body">
  <div class="content">
    <h3>
      Latest forum posts
    </h3>
    <ol>
      <% Topic.basic.recent.latest_page(1).each do |topic| %>
        <li>
          <%= link_to shorten(topic, 30), lastpost(topic) %>
        </li>
      <% end %>
    </ol>

    <h3>
      Latest comments
    </h3>
    <ol>
      <% Comment.recent.filtered.each do |comment| %>
        <li>
          <%= namelink comment.commentable, 15 %>
          by <%= namelink comment.user, 8 %>
      </li>
    <% end %>
  </ol>
</div>
</div>
