<div class="widget posts">
  <h4><%= t('widget.posts') %></h4>

  <div class="widget-content-wrapper">
    <div class="separator">Latest forum posts</div>
    <ol>
      <% Topic.recent_topics.each do |topic| %>
        <li>
          <%= link_to shorten(topic, 28), lastpost(topic) %>
        </li>
      <% end %>
    </ol>

    <div class="separator">Latest comments</div>
    <ol>
      <% Comment.recent(3).each do |comment| %>
        <li>
          <%= namelink comment.commentable, 15 %>
          by <%= namelink comment.user, 10 %>
        </li>
      <% end %>
    </ol>
  </div>
</div>