<div class="widget shoutbox">
  <h4><%= t('widget.shoutbox') %></h4>
  <div class="widget-content-wrapper">
    <div id="shoutbox" class="transcript">
      <%= render partial: "shoutmsgs/shoutmsg", collection: Shoutmsg.recent.box, locals: { popup: "$('shoutbox')" } %>
    </div>
  </div>
  <%= render partial: "shoutmsgs/new", locals: { shoutmsg: Shoutmsg.new } %>
  <%= link_to "Shoutbox Rules", article_path(Article::SB_RULES) %>
</div>

<script type="text/javascript">
        $(document).ready(function () {
                $.PeriodicalUpdater("/shoutmsgs/index.js", {
                  method: "GET",
                  type: "script",
                  minTimeout: 20000,
                  multiplier: 3,
                  maxTimeout: 300000
                });
        });
</script>
