<div class="header">Latest NS2 tweets</div>
<div class="body">
  <div class="content">
    <h3>
      Latest tweets
    </h3>
    <ul>
      <ol>
        <% Tweet.recent.each do |tweet| %>
          <li>
            <%= namelink tweet, 25 %>
          </li>
        <% end %>
      </ol>
    </ul>
  </div>
</div>

<%= link_to "More..", articles_path %>
