body {
  margin: 0;
  padding: 0;
  background: lighten($blue, 10);
  @include background-image(linear-gradient(lighten($blue, 10), $medium-gray));
}

%container-padded {
  padding: 0 em(20);
}

.wrapper {
  @include outer-container;
}

#content {
  @extend %container-padded;
}

#content,
#forums {
  @include span-columns(12);
  background: $light-blue;
  padding-top: em(20);
}

#main {
  @include span-columns(9);
}

#sidebar {
  @include span-columns(3);
  @include omega();
}

img.flag {
  display: inline-block;
  vertical-align: - em(6);
  margin-right: em(10);
}

.actions-bottom {
  @include span-columns(12);
  margin-top: em(20);
}