/*
  Banner
*/

header .banner {  
  @include linear-gradient($dark-blue, $deep-blue);
  height: 170px;

  #logo {
    @include span-columns(9 of 12);
    min-height: 220px;
    position: relative;

    img {
      height: 200px;
      position: absolute;
      top: 15px;
      left: -40px;
      z-index: 1;
    }
  }

  #authentication {
    @include span-columns(3 of 12);
    padding: 20px 0;
    color: white;

    .logged {
      padding-top: 10px;
    }

    a {
      color: white;

      &:hover {
        color: $light-blue;
      }
    }

    form {
      display: inline;
    }

    &.admin {
      
    }

    .fields { 
      @include span-columns(12);

      input {
        @include span-columns(6);
        margin-bottom: 10px;
      }
    }

    .controls {
      margin-top: 10px;
      text-align: right;

      input {
        @include span-columns(12);
        margin-bottom: 10px;
      }

      a {
        @include span-columns(12);
        text-align: left;
      }
    }

    .password-reset {
      float: right;
    }

    .links {
      @include span-columns(7);
      position: relative;

      li {
        text-align: right;
      }

      li i {
        display: inline-block;
        width: 1em;
        text-align: center;
        margin: 0 10px;
      }
    }

    .profile {
      @include span-columns(5);
      vertical-align: middle;
      position: relative;

      .avatar {
        box-shadow: $content-shadow;
        border-radius: $base-border-radius;
        border: 2px solid $blue;
        text-align: center;
        vertical-align: middle;
        position: relative;
        width: 100%;
        padding-bottom: 96%;
        float: left;
        height: 0;
        background-size: cover;
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
      }

      .timezone {
        text-align: center;
      }
    }
  }
}
