/*
  Navigation
*/

#menu {
  @include span-columns(12);
  font-family: $montserrat;
  background-color: $background-primary;
  height: em(60);
  max-height: em(60);
  
  nav {
    @include outer-container;
  }
}

ul.navigation {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $navbar-primary;
  float: left;

  > li {
    float: left;

    .count {
      background-color: #6a5a8c;
      display: inline-block;
      font-size: em(14);
      color: white;
      line-height: em(14);
      padding: em(5) em(8);
      margin-left: em(25);
      margin-top: - em(8);
    }

    > a {
      width: auto;
      color: white;
      height: em(60);
      line-height: em(16);
      padding: em(22);
      float: left;
      border-right: em(1) solid $navbar-border;

      &:hover,
      &.active {
        background-color: $navbar-secondary;
      }
    }

    &.icon {

      > a {
        font-size: em(24);
        line-height: em(24);
        padding: em(18);

        i {
          width: em(24);
          height: em(24);
        }
      }
    }

    &.dropdown {

      ul {
        display: none;
        z-index: 10;
      }

      &:hover {
        position: relative;

        ul {
          display: block;
          position: absolute;
          top: em(60);
          left: 0;
          min-width: 100%;
          background-color: $navbar-secondary;
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            border-bottom: em(1) solid lighten($navbar-secondary, 10%);

            &:first-child {
              border-top: em(1) solid lighten($navbar-secondary, 10%);
            }

            &:last-child {
              border-bottom: none;
            }
            
            a {
              white-space: nowrap;
              display: block;
              height: em(60);
              line-height: em(16);
              padding: em(22);
              color: $navbar-text;
            }
          }
        }
      }
    }
  }
}