/*
  Navigation
*/

$navigation-height: 50px;

#menu {
  @include span-columns(12);
  font-family: $montserrat;
  height: $navigation-height;
  margin-top: - $navigation-height;
  
  nav {
    @include outer-container;
  }
}

ul.navigation {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  width: 100%;
  background: transparent;
  max-width: $max-width;
  max-height: $navigation-height;

  > li {
    float: left;
    width: (100%/7);
    border-right: 1px solid transparent;

    .count {
      position: absolute;
      top: $navigation-height/2 - ($navigation-height/2)/2;
      right: 12px;
      border-radius: $navigation-height/2;
      background-color: $light-blue;
      display: inline-block;
      color: white;
      line-height: $navigation-height/2;
      padding: 0 8px;
      font-size: 12px;
      font-weight: bold;
      height: $navigation-height/2;
    }

    a {
      font-weight: 400;
      font-size: 15px;
      height: $navigation-height;
      line-height: $navigation-height;
      padding: 0 20px;
    }

    > a {
      width: 100%;
      color: white;
      float: left;
      position: relative;
      background-color: $navbar-primary;

      &:hover,
      &.active {
        background-color: $navbar-secondary;

        .count {
          background-color: lighten($light-blue, 20);
        }
      }
    }

    &:last-child {
      border-right: 0;
    }

    &.icon {

      i {
        color: lighten($light-blue, 30);
        max-height: $navigation-height;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 24px;
        line-height: 1em;
        padding: $navigation-height/4;
      }
    }

    &.dropdown {

      ul {
        display: none;
        z-index: 10;
      }

      &:hover {
        position: relative;

        ul {
          box-shadow: $content-shadow;
          display: block;
          position: absolute;
          top: $navigation-height;
          left: 0;
          min-width: 100%;
          background-color: $navbar-primary;
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            border-bottom: 1px solid $navbar-secondary;

            &:first-child {
              border-top: 1px solid $navbar-secondary;
            }

            &:last-child {
              border-bottom: none;
            }
            
            a {
              white-space: nowrap;
              display: block;
              color: $navbar-text;
            }

            &:hover a {
              background: $light-blue;
            }
          }
        }
      }
    }
  }
}
