/*
  Navigation
*/

#menu {
  @include span-columns(12);
  font-family: $montserrat;
  height: em(60);
  max-height: em(60);
  margin-top: - em(60);
  
  nav {
    @include outer-container;
  }
}

ul.navigation {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  float: left;
  width: 100%;
  background: transparent;

  > li {
    float: left;
    width: $max-width/7;
    border-right: em(1) solid transparent;

    > a {
      width: 100%;
      color: white;
      height: em(60);
      line-height: em(16);
      padding: em(22);
      float: left;
      background-color: $navbar-primary;

      &:hover,
      &.active {
        background-color: $navbar-secondary;
      }
    }

    &:last-child {
      border-right: 0;
    }

    &.icon {

      > a {
        font-size: em(24);
        line-height: em(24);
        padding: em(18);

        i {
          width: em(24);
          height: em(24);
        }
      }
    }

    &.dropdown {

      ul {
        display: none;
        z-index: 10;
      }

      &:hover {
        position: relative;

        ul {
          display: block;
          position: absolute;
          top: em(60);
          left: 0;
          min-width: 100%;
          background-color: $navbar-primary;
          list-style: none;
          padding: 0;
          margin: 0;

          li {
            border-bottom: em(1) solid $navbar-secondary;

            &:first-child {
              border-top: em(1) solid $navbar-secondary;
            }

            &:last-child {
              border-bottom: none;
            }
            
            a {
              white-space: nowrap;
              display: block;
              height: em(60);
              line-height: em(16);
              padding: em(22);
              color: $navbar-text;
            }

            &:hover a {
              background: $light-blue;
            }
          }
        }
      }
    }
  }
}