#sidebar {

  .widget {
    @include span-columns(12);
    box-shadow: $content-shadow;
    margin-bottom: em(20);
    padding: em(20);
    background: white;

    h4 {
      margin-bottom: 20px;
    }

    .widget-content-wrapper {
      @include span-columns(12);
      font-size: em(14);
    }

    .separator {
      color: white;
      background: $light-blue;
      padding: em(12) em(24);
      margin: 0 -20px;
      margin-bottom: em(12);
    }
  }

  .calendar {
    max-height: 500px;
    overflow-x: scroll;
  }

  .shoutbox {
    .transcript {
      margin-bottom: 20px;
    }

    input {
      @include span-columns(12);
      margin-bottom: em(10);
    }
  }

  .highlights,
  .posts {

    ol {
      margin-bottom: em(20);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .poll {
    .question {
      @include span-columns(12);
      margin-bottom: em(20);

      h5 {
        margin-bottom: 1em;
      }
    }

    .bar {
      display: block;
      background: $green;
      height: 10px;
    }

    .button {
      margin-bottom: 0;
    }
  }
}