#sidebar {

  .widget {
    @include span-columns(12);
    box-shadow: $content-shadow;
    margin-bottom: $container-padding;
    border-radius: $base-border-radius;
    padding: 20px;
    background: white;

    h4 {
      @include span-columns(12);
      margin-bottom: 20px;
    }

    .widget-content-wrapper {
      @include span-columns(12);
      font-size: 12px;
    }

    .separator {
      color: $dark-blue;
      background: transparentize($light-blue, 0.75);
      padding: 0 20px;
      margin: 0 -20px;
      margin-bottom: 12px;
      font-weight: 600;
      line-height: 35px;

      a {
        color: $dark-blue;
        float: right;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .calendar {
    max-height: 400px;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .shoutbox {
    .transcript {
      margin-bottom: 20px;
    }

    input {
      @include span-columns(12);
      margin-bottom: 10px;
    }
  }

  .highlights,
  .posts {
    ol {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .poll {
    .question {
      @include span-columns(12);
      margin-bottom: 20px;

      h5 {
        margin-bottom: 1em;
      }
    }

    .bar {
      display: block;
      background: $blue;
      height: 10px;
    }

    .button {
      margin-bottom: 0;
    }
  }
}