/*
  Breadcrumbs
*/

@use "../variables" as *;

.breadcrumbs {
  clear: both;
  margin-bottom: 20px;

  a {
    display: inline-block;
    font-size: $base-font-size + 2px;
  }

  .fa {
    margin: 0 10px;
  }
}
