/*
  Shoutbox Messages
*/

#shoutbox {
  display: table;
}

.shoutmsg {
  display: block;
  margin-bottom: 5px;
  clear: both;
  position: relative;

  .destroy {
    position: absolute;
    top: 0;
    right: -10px;
  }

  .user {
    display: inline;

    .username {
      clear: right;
      float: left;
      display: block;
    }

    .time {
      float: right;
      display: block;
      color: #5a5a5a;
    }
  }

  .message {
    clear:both;
    display: block;

    .contents {
      word-break: break-word;
      word-wrap: break-word;
      position: relative;
      display: block;
      padding: 0 10px;
    }
  }
}
