/*
  Poll Forms
*/

#poll {
  .inputs {
    display: flex;
    gap: 10px;

    .question {
      flex: 1 1 auto;
    }

    .destroy {
      flex: 0 0 auto;

      .checkbox {
        float: left;
      }

      .remove {
        display: inline-block;
        line-height: 40px;
        margin-left: 10px;
      }
    }
  }
}