/*
  Polls List
*/

table.polls {

  .questions {
    width: 30%;
  }

  .date {
    width: 30%;
  }

  .votes,
  .user {
    width: 15%;
  }

  .actions {
    width: 10%;
    text-align: right;
  }
}

/*
  Poll Forms
*/

#poll {
  .inputs {
    display: flex;
    gap: 10px;

    .question {
      flex: 1 1 auto;
    }

    .destroy {
      flex: 0 0 auto;

      .checkbox {
        float: left;
      }

      .remove {
        display: inline-block;
        line-height: 40px;
        margin-left: 10px;
      }
    }
  }
}