/*
  Servers
*/

#servers {
  @include span-columns(12);
  margin-bottom: 20px;

  div.server {
    @include span-columns(12);
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 3px solid $medium-gray;
    position: relative;

    .connect {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
    }

    &:last-child {
      margin-bottom: 0;
      border-bottom: 0;
    }
  }  
}

/*
  Server Form
*/

form.server {

  .inputs {
    @include span-columns(12);

    input {
      max-width: 100%;
    }

    .ip {
      @include span-columns(9);
    }

    .port {
      @include span-columns(3);
    }
  }
}