/*
  Profile
*/

#user {

  .tabbed-contents {
    margin-bottom: 20px;
  }
}

#profile {
  
  .tab {

    h4 {
      margin-bottom: 1em;
    }

    .fields:last-child {
      margin-bottom: 0;
    }
  }
}

#user-profile {

  .photo {
    margin: 20px 0;
    text-align: center;

    img {
      display: inline-block;
      float: none;
      width: auto;
    }
  }

  #user-data {
    margin-bottom: 20px;

    #user-movies-grid {
      .movie-card:hover {
        .movie-card-image-layer {
          opacity: 0;
        }

        .movie-card-hover-layer {
          opacity: 1;
        }
      }
    }

    h2,
    h3,
    h4 {
      margin-bottom: 1em;
    }

    .group {
      flex: 1 1 0;
      min-width: 0;

      dd a {
        float: none;
        display: block;
      }
    }

    .achievements {
      margin-bottom: 20px;
    }

    tbody td {
      &:first-child,
      &:nth-child(2) {
        text-align: left;
      }
    }
  }

  table.predictions {

    .prediction {
      text-align: right;
    }
  }
}

#profile-edit {

  h1 {
    margin-bottom: 1em;
  }

  form {
    margin-top: 0;
  }
}

/*
  Agenda
*/

#agenda {

  h4 {
    margin-bottom: 1em;
  }

  table {
    margin-bottom: 20px;
  }

  form {
    display: flow-root;
    width: 100%;
    margin-bottom: 20px;

    &.inline {
      width: auto;
      display: inline;
      margin: 0;
    }
  }

  .tab {
    :last-child {
      margin-bottom: 0;  
    }
  }

  #teams {
    &::after {
      content: "";
      display: table;
      clear: both;
    }

    table {
      margin-bottom: 40px;
    }
  }
}

/*
  Messages
*/

#messages {
  h1 {
    margin-bottom: 1em;
  } 

  .tab {

    :last-child {
      margin-bottom: 0;
    }
  }

  .message {
    margin-bottom: 20px;

    .subject {
      margin-bottom: 1em;
    }

    .content {
      margin-bottom: 20px;
    }

    a.message {
      display: inline;
      margin: 0;
      float: none;
    }

    &.highlight {
      font-weight: 400;
    }
  }

  .back {
    margin-top: 20px;
  }
}

/*
  Staff List
*/

table.staff {
  table-layout: auto;

  .country {
    width: 6%;
  }

  .username {
    width: 20%;
  }

  .age {
    width: 5%;
  }
}
