/*
  Flash Messages
*/

.flash {
  @include span-columns(12);
  margin-bottom: em(20);

  &.notice {
    @include flash;
  }

  &.success {
    @include flash($flash-success);
    
    &:before {
      content: "\f00c";
    }
  }

  &.error {
    @include flash($flash-error);

    &:before {
      content: "\f00d";
    }
  }

  &.warning,
  &.alert {
    @include flash($flash-warning);

    &:before {
      content: "\f071";
    }
  }
}

/*
  Error Messages
*/

div#errors {
  @extend .flash.error;
  @include span-columns(12);
  margin-bottom: em(20);

  strong {
    @include span-columns(12);
    margin-bottom: em(10);
  }

  ul.errors {
    @include span-columns(12);

    li {
      margin-bottom: .5em;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}