/*
  Flash Messages
*/

.flash {
  @include span-columns(12);
  margin-bottom: em(20);

  &.notice {
    @include flash;
  }

  &.success {
    @include flash($flash-success);
    &:before {
      content: "\f00c";
    }
  }

  &.error {
    @include flash($flash-error);
    &:before {
      content: "\f00d";
    }
  }

  &.warning,
  &.alert {
    @include flash($flash-warning);
    &:before {
      content: "\f071";
    }
  }
}
