/*
  Shoutbox Messages
*/

#shoutbox {
  display: table;
}

.shoutmsg {
  display: table-row;
  margin-bottom: 5px;
  clear: both;

  .timestamp {
    @extend .highlight;
  }

  .user {
    display: table-cell;
    min-width: 30%;

    .username {
      clear: right;
      display: block;
    }

    .time {
      clear: left;
      display: block;
      color: #5a5a5a;
    }
  }

  .message {
    max-width: 66%;
    display: table-cell;
    padding-left: 10px;
  }
}
