<h2>Statistics</h2>

<div id="stats" class="tabbed">
  <ul id="stats-nav" class="tabs">
    <li><a href="#general">General</a></li>
    <li><a href="#ns1seasons">NS1 Seasons</a></li>
    <li><a href="#nsls1">NSL S1</a></li>
    <li><a href="#nsls2">NSL S2</a></li>
  </ul>
  <div class="tabbed-contents">
    <div class="tab" id="general">
      <h3>General Statistics</h3>
      <%= render partial: "about/general", locals: {} %>
    </div>
    <div class="tab" id="ns1seasons">
      <h3>NS1 Seasons statistics</h3>
      <%= render partial: "about/contests", locals: { contests: Contest.ns1seasons } %>
    </div>
    <div class="tab" id="nsls1">
      <h3>NSL Season 1 Statistics</h3>
      <%= render partial: "about/contests", locals: { contests: Contest.nsls1 } %>
    </div>
    <div class="tab" id="nsls2">
      <h3>NSL Season 2 Statistics</h3>
      <%= render partial: "about/contests", locals: { contests: Contest.nsls2 } %>
    </div>
  </div>
</div>
<script type="text/javascript">
  new Yetii({
    id: 'stats'
  });
</script>
