/*
  Neat Overrides
*/

$max-width: 1020px;
$gutter: em(20);

/*
  Grid Debugging
*/

// $visual-grid: true;
// $visual-grid-index: 10000;
// $visual-grid-opacity: 0.5;

/*
  Neat Breakpoints
*/

$medium-screen: 640px;
$large-screen: 860px;

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);

/*
  Typography
*/

$inder: 'Inder', sans-serif;
$electrolize: 'Electrolize', sans-serif;
$fontawesome: 'FontAwesome';
$sans-serif: $electrolize;

$base-font-family: $inder;
$header-font-family: $electrolize;
 
/*
  Sizes
*/

$base-font-size: 14px;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: 3px;

/*
  Colours
*/

$red: #de8650;
$green: darken(#68cc90, 10);
$blue: #0e4d78;
$gold: #FFD700;

$dark-blue: darken($blue, 15);
$deep-blue: darken($dark-blue, 15);
$dark-gray: #21262A;

$medium-gray: #2F383D;

$light-blue: #36b1ff;
$light-gray: darken(#ECF1F5, 5);
$light-red: #e56c69;
$light-yellow: #FFF6BF;
$light-green: #1f7f5c;
 
$base-body-color: white;
$base-font-color: $dark-gray;
$base-accent-color: $blue;
$base-link-color: $base-accent-color;
$hover-link-color: lighten($base-accent-color, 15);
$base-border-color: $light-gray;

$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

$background-primary: $medium-gray;

$navbar-primary: $blue;
$navbar-secondary: $light-blue;
$navbar-border: lighten($dark-gray, 10);
$navbar-text: white;

$flash-text: white;
$flash-notice: $blue;
$flash-success: $green;
$flash-warning: $red;
$flash-error: #e56c69;

$input-font-size: $base-font-size;
$input-primary: white;
$input-secondary: $blue;
$input-text: #232323;
$input-border-width: 2px;
$input-border-colour: darken($light-gray, 10%);
$input-padding: 9px;
$input-border-radius: $base-border-radius;

$button-primary: $blue;
$button-secondary: $green;
$button-text: white;

/*
  Shadows
*/

$content-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
$light-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
