/*
  Neat Overrides
*/

$max-width: em(1200);

/*
  Grid Debugging
*/

// $visual-grid: true;
// $visual-grid-index: 10000;
// $visual-grid-opacity: 0.5;

/*
  Neat Breakpoints
*/

$medium-screen: em(640);
$large-screen: em(860);

$medium-screen-up: new-breakpoint(min-width $medium-screen 4);
$large-screen-up: new-breakpoint(min-width $large-screen 8);

/*
  Typography
*/

$open-sans: 'Open Sans', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$fontawesome: 'FontAwesome';
$sans-serif: $open-sans;

$base-font-family: $sans-serif;
$header-font-family: $montserrat;
 
/*
  Sizes
*/

$base-font-size: 1em;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: em(3);

/*
  Colours
*/

$red: #de8650;
$green: #68cc90;
$blue: #0A8FC8;
$purple: #6a5a8c;
$gold: #FFD700;

$dark-blue: #0072A6;
$dark-gray: #21262A;

$medium-gray: #2F383D;

$light-blue: #2FB0E7;
$light-gray: #ECF1F5;
$light-red: #e56c69;
$light-yellow: #FFF6BF;
$light-green: #1f7f5c;
 
$base-body-color: white;
$base-font-color: $dark-gray;
$base-accent-color: $blue;
$base-link-color: #285258;
$hover-link-color: darken($base-accent-color, 15);
$base-border-color: $light-gray;

$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

$background-primary: $medium-gray;
$background-secondary: #ece9e1;
$background-tertiary: #e2dfd8;

$text-primary: #232323;
$text-secondary: #888888;
$text-tertiary: #666666;

$link-primary: #285258;

$navbar-primary: $blue;
$navbar-secondary: $light-blue;
$navbar-border: lighten($dark-gray, 10);
$navbar-text: white;

$flash-text: white;
$flash-notice: $blue;
$flash-success: $green;
$flash-warning: $red;
$flash-error: #e56c69;

$input-font-size: em(16);
$input-primary: white;
$input-secondary: $blue;
$input-text: #232323;
$input-border-width: em(2);
$input-border-colour: darken($light-gray, 10%);
$input-padding: em(11);

$input-dark-background-colour: $medium-gray;
$input-dark-border-colour: $light-gray;
$input-dark-border-width: em(2);
$input-dark-border-hover-colour: $blue;
$input-dark-border-focus-colour: $green;

$button-primary: $blue;
$button-secondary: $green;
$button-text: white;

/*
  Shadows
*/

$content-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.1);