/*
  Theme Path
*/

@use "sass:color";

$theme-name: 'default';
$theme-path: "themes/#{$theme-name}";

/*
  Layout
*/

$max-width: 1020px;
$container-padding: 2em;
$input-height: 35px;

/*
  Typography
*/

$open-sans: 'Open Sans', sans-serif;
$russo-one: 'Russo One', sans-serif;
$sans-serif: $open-sans;

$base-font-family: $open-sans;
$header-font-family: $russo-one;
 
/*
  Sizes
*/

$base-font-size: 14px;
$base-line-height: $base-font-size * 1.5;
$base-border-radius: 3px;

/*
  Colours
*/

$red: #de8650;
$green: color.adjust(#68cc90, $lightness: -10%);
$blue: #0e4d78;
$gold: #FFD700;

$dark-blue: color.adjust($blue, $lightness: -15%);
$deep-blue: color.adjust($dark-blue, $lightness: -15%);
$dark-gray: #21262A;

$light-blue: #36b1ff;
$light-gray: color.adjust(#ECF1F5, $lightness: -5%);
$light-red: #e56c69;
$light-yellow: #FFF6BF;
$light-green: #1f7f5c;

$medium-gray: color.adjust(#5a5a5a, $lightness: 30%);
 
$base-body-color: white;
$base-font-color: $dark-gray;
$base-accent-color: $blue;
$base-link-color: $base-accent-color;
$hover-link-color: color.adjust($base-accent-color, $lightness: 15%);
$base-border-color: $light-gray;

$error-color: $light-red;
$notice-color: $light-yellow;
$success-color: $light-green;

$background-primary: $medium-gray;

$navbar-primary: $blue;
$navbar-secondary: $light-blue;
$navbar-border: color.adjust($dark-gray, $lightness: 10%);
$navbar-text: white;

$flash-text: white;
$flash-notice: $blue;
$flash-success: $green;
$flash-warning: $red;
$flash-error: #e56c69;

$input-font-size: $base-font-size;
$input-primary: white;
$input-secondary: $blue;
$input-text: #232323;
$input-border-width: 2px;
$input-border-colour: color.adjust($light-gray, $lightness: -10%);
$input-padding: 9px;
$input-border-radius: $base-border-radius;

$button-primary: $blue;
$button-secondary: $green;
$button-text: white;

/*
  Shadows
*/

$content-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
$light-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
