<div class="gather-columns">
  <div class="data players">
    <%= render partial: "gatherers/list", locals: { team: nil } %>
  </div>

  <div class="data players">
    <%= render partial: "gatherers/list", locals: { team: 1 } %>
  </div>

  <div class="data players">
    <%= render partial: "gatherers/list", locals: { team: 2 } %>
  </div>
</div>

<%= render partial: "status" %>

<% if @gatherer and @gatherer.user_id = 176 %>
  <div id="gatherStarted"></div>
<% end %>
