<p>Hello <%= h @user.username %>,</p>
<p><%= yield %></p>
<p>- <a href="https://www.ensl.org">ENSL Website</a></p>

<p>
  (To disable these: <a href="https://www.ensl.org">Log In</a>
  -> <a href="https://www.ensl.org/users/edit/<%= @user.id %>">Profile</a>
  -> Notifications)
</p>
